<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.user.UserMapper">

	<select id="getUserIdListByGameId" parameterType="long" resultType="long">
	
		SELECT 
			dp.user_id
		FROM
			d_player dp
		WHERE
			dp.game_id = #{gameId} AND dp.status != 9
	
	</select>
	
	<insert id="saveOfflineSpeech">
	
		INSERT INTO d_offline_message(
			user_id,
			type,
			speech_id,
			status
		)
		VALUES
			 <foreach item="userId" index="index" collection="users" separator=",">
 			(
            #{userId},
            1,
            #{speechId},
            0
            )
    		 </foreach>
	
	</insert>

</mapper>